################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BookLender/.vs/BookLender
/BookLender/BookLenderAPI/bin/
/BookLender/BookLenderAPI/obj/
/BookLender/.vs/ProjectEvaluation
/.vs
/BookLender/BookLender.Shared/bin/
/BookLender/BookLender.Shared/obj/
/BookLender/BookLenderAPI/obj/Release/
*.db-wal
*.db-shm
