################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BookLender/.vs/BookLender
/BookLender/BookLenderAPI/bin/Debug/net8.0
/BookLender/BookLenderAPI/obj/Debug/net8.0
/BookLender/.vs/ProjectEvaluation
/.vs
/BookLender/BookLender.Shared/bin/Debug/net8.0
/BookLender/BookLender.Shared/obj
/BookLender/BookLenderAPI/obj/Release/net8.0
