################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BookLender/.vs/BookLender
/BookLender/BookLenderAPI/bin/Debug/net8.0
/BookLender/BookLenderAPI/obj/Debug/net8.0/ref
