@inherits LayoutComponentBase
<div class="page" style="background-color: rgba(203, 220, 235, 0.25)">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
